<!DOCTYPE html>
<html>

<head>
    <title>Lifetime risk calculator</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="https://cdn.plot.ly/plotly-2.32.0.min.js"></script>
</head>

<body>
    <header class="top-style">
        <h1>Australian lifetime risk of cardiovascular disease calculator</h1>
    </header>
    <div class="content-wrapper">
        <div class="container2">
            <div class="report-wrapper">
                <h2>Your lifetime risk with a range of interventions</h2>
                <div class="report-item">
                    <table class="stata-table">
                        <thead>
                            <tr>
                                <th>Index</th>
                                <th>Life expectancy (years)</th>
                                <th>Gain in life expectancy (years)</th>
                                <th>Lifetime risk of CVD (%)</th>
                                <th>Absolute reduction in lifetime risk of CVD (%)</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for row in result %}
                            <tr>
                                {% for cell in row %}
                                <td>{{ cell }}</td>
                                {% endfor %}
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    Cardiovascular disease in this tool is defined as a myocardial infarction, death from coronary heart
                    disease, a stroke, or death from cerebrovascular disease.
                    <br>
                    <br>
                    Abbreviations: LDL-C &ndash; low density lipoprotein-cholesterol; SBP &ndash; systolic blood
                    pressure.


                    {% if data.get('sma') and not data.get('smo') %}
                    <div class="disclaimer-box">
                        <strong>Note:</strong> Lifetime risk of CVD can increase for smokers when quitting. This is
                        because
                        smokers
                        who quit live longer than smokers who don't, and so are less likely to die before getting CVD.
                    </div>
                    {% endif %}
                    <br>
                    <br>
                    The interventions are all examples only, there are many ways to modify your cardiovascular risk, and
                    everyone's response to specific changes will vary. The
                    ones tested here were as follows:
                    <ul>
                        <li>No intervention &ndash; assuming no preventive action is taken, so LDL-C stays the same and
                            blood pressure increases with age.
                        <li>Small LDL-C change &ndash; start eating psyllium cereal, leading to a 0.35 mmol/L reduction
                            in LDL-C (this is an example, there are many things you can do to change your LDL-C)
                        </li>
                        <li>Large LDL-C change &ndash; start taking 10 mg rosuvastatin once daily, leading to a 45.6%
                            reduction
                            in LDL-C</li>
                        <li>Achieve LDL-C target &ndash; maintain an LDL-C of 1.8 mmol/L over your lifetime</li>
                        <li>Small SBP change &ndash; lower your sodium intake moderately, leading to a 2 mmHg reduction
                            in SBP
                        </li>
                        <li>Large SBP change &ndash; start taking blood pressure-lowering therapy, leading to a 14.8
                            mmHg reduction in SBP</li>
                        <li>Achieve SBP target &ndash; maintain a systolic blood pressure of 120 mmHg over your lifetime
                        </li>
                        {% if data.get('sma') and not data.get('smo') %}
                        <li>Quit smoking</li>
                        {% endif %}
                    </ul>
                </div>
                <div class="report-item">
                    <h2>Lifetime risk of CVD visualised</h2>
                    This graph shows your estimated cumulative risk of CVD by age in each of the scenarios described
                    above.
                    <br>
                    <br>
                    Click each scenario once to toggle displaying it in the graph.
                    <br>
                    Double click a scenario to show only that scenario.
                    <div id="chart" class="chart">
                        <script type="text/javascript">
                            var graphs = JSON.parse('{{ graphJSON2 | safe }}');
                            Plotly.newPlot('chart', graphs.data, graphs.layout, { responsive: true });
                        </script>
                    </div>
                </div>
                <div>
                    <h2>Test your own interventions</h2>
                    Want to see what your lifetime risk of CVD would be with another intervention?
                    <br>
                    <br>
                    <a href="/select_intervention" class="button-link">Test your own intervention(s)</a>
                    <br>
                    <br>
                    <a href="{{ url_for('restart') }}" class="button-link-red">Restart</a>
                    <br>
                    <br>
                </div>
            </div>
        </div>

    </div>
    <footer class="bottom-style">
        <div class="footer-content">
            <img src="{{ url_for('static', filename='images/Monash.svg') }}" alt="Institution Logo" class="footer-logo">
            <img src="{{ url_for('static', filename='images/HF.png') }}" alt="Institution Logo"
                class="footer-logo-large">
            <img src="{{ url_for('static', filename='images/Baker.svg') }}" alt="Institution Logo" class="footer-logo">
            <p>More info and publication outlining the methods behind the score: <a
                    href="https://github.com/jimb0w/HF">https://github.com/jimb0w/HF</a> <br>
                Questions or suggestions? <br> Contact: Jedidiah.Morton@monash.edu.au</p>
        </div>
    </footer>
</body>

</html>