<!DOCTYPE html>
<html>

<head>
    <title>Lifetime risk calculator</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="https://cdn.plot.ly/plotly-2.32.0.min.js"></script>
</head>

<body>
    <header class="top-style">
        <h1>Australian lifetime risk of cardiovascular disease calculator</h1>
    </header>
    <div class="content-wrapper">
        <div class="container2">

            <div class="report-wrapper">
                <h2>Your lifetime risk with your selected intervention</h2>
                <div class="report-item">
                    <table class="stata-table">
                        <thead>
                            <tr>
                                <th>Index</th>
                                <th>Life expectancy (years)</th>
                                <th>Gain in life expectancy (years)</th>
                                <th>Lifetime risk of CVD (%)</th>
                                <th>Absolute reduction in lifetime risk of CVD (%)</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for row in result %}
                            <tr>
                                {% for cell in row %}
                                <td>{{ cell }}</td>
                                {% endfor %}
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    Cardiovascular disease in this tool is defined as a myocardial infarction, death from coronary heart
                    disease, a stroke, or death from cerebrovascular disease.
                    {% if data.get('sma') and not data.get('smo') %}
                    <div class="disclaimer-box">
                        <strong>Note:</strong> Lifetime risk of CVD can increase for smokers when quitting. This is
                        because
                        smokers
                        who quit live longer than smokers who don't, and so are less likely to die before getting CVD.
                    </div>
                    {% endif %}
                </div>
                <div class="report-item">
                    <h2>Lifetime risk of CVD visualised</h2>
                    This graph shows your estimated cumulative risk of CVD by age if you don't intervene and if you
                    undertake
                    the selected intervention.
                    <br>
                    <br>
                    <div id="chart" class="chart">
                        <script type="text/javascript">
                            var graphs = JSON.parse('{{ graphJSON2 | safe }}');
                            Plotly.newPlot('chart', graphs.data, graphs.layout, { responsive: true });
                        </script>
                    </div>
                </div>
                <div>
                    <h2>Test another intervention</h2>
                    <a href="/select_intervention" class="button-link">Test another intervention</a>
                    <br>
                    <br>
                    <a href="/interventions" onclick="document.getElementById('loading-overlay').style.display='flex';"
                        class="button-link">View a range of interventions</a>
                    <br>
                    <br>
                    <a href="{{ url_for('restart') }}" class="button-link-red">Restart</a>
                    <br>
                    <br>


                </div>
            </div>
        </div>


    </div>
    <footer class="bottom-style">
        <div class="footer-content">
            <img src="{{ url_for('static', filename='images/Monash.svg') }}" alt="Institution Logo" class="footer-logo">
            <img src="{{ url_for('static', filename='images/HF.png') }}" alt="Institution Logo"
                class="footer-logo-large">
            <img src="{{ url_for('static', filename='images/Baker.svg') }}" alt="Institution Logo" class="footer-logo">
            <p>Questions or suggestions? <br> Contact: Jedidiah Morton (jedidiah.morton@monash.edu.au)</p>
        </div>
    </footer>
</body>

</html>